html {
  box-sizing: border-box;
  font-family: Dosis;
  font-family: Georgia;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #f0eee8;
}

a {
  color: #512200;
  text-decoration: none;
}

.link-card {
  margin: .5rem;
  display: inline-block;
  background-color: #dcd4cd;
  padding: .4em .75em .5em;
  border: 3px solid;
  border-color: #9a816d;
  border-radius: 8px;
  width: 19rem;
}

.link-card h2 {
  padding: 0;
  padding-top: .6rem;
  margin: 0;
  font-family: Dosis;
  font-size: 1.5rem;
  font-weight: bold;
  color: #512200;
}

p {
  font-size: 1rem;
  padding: 0;
  margin-bottom: 0;
}

dl {
  font-size: .875rem;
  list-style: square;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #785439;
  padding-top: 1rem;
  text-align: left;
  padding-bottom: 1.2rem;
}

dd {
  display: inline-block;
  text-align: right;
  font-style: italic;
  margin-left: .5rem;
}

dt {
  display: inline-block;
  text-align: left;
  width: 40%;
}

.btn {
  color: #fff;
  font-family: Dosis;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #785439;
  padding: .4em .75em .5em;
  border-radius: 8px;
  text-align: center;
  margin: .5rem;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  margin-top: 1rem;
}

.link-card:hover {
  background-color: #cabdb2;
}
